{% extends "base.html" %} {% block content %} {% load static %} 
{% static 'images' as mediaUrl %}
<div class="cl">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for carousel in carousels_data %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ carousel.img.url }}" class="d-block" alt="..." />
        </div>
        {% endfor %}
      </div>

      <a
        class="carousel-control-prev"
        href="#myCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#myCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br /><br />
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row row-cols-2 row-cols-md-4 g-4">
    {% for dest in dests %}
    <div class="col">
      <div class="card h-200">
        <img
          src="{{dest.img.url}}"
          class="card-img-top"
          alt=""
          height="11"
          width="11"
        />
        <div class="card-body">
          <h5 class="card-title">{{dest.name}}</h5>
          <p class="card-text">{{dest.desc}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"
            >Hurry Up!! only {{dest.stock}} are left.</small
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        First featurette heading.
        <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Some great placeholder content for the first featurette here. Imagine
        some exciting prose here.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="https://static.toiimg.com/thumb/msid-83773252,width-1200,height-900,resizemode-4/.jpg"
        alt=""
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Oh yeah, it’s that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">
        Another featurette? Of course. More placeholder content here to give you
        an idea of how this layout would work with some actual real-world
        content in place.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        src="https://femina.wwmindia.com/thumb/content/2021/jun/fashion-thumb1622537199.jpg?width=1200&height=900"
        alt=""
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
      />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        And lastly, this one. <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">
        And yes, this is the last block of representative placeholder content.
        Again, not really intended to be actually read, simply here to give you
        a better view of what this would look like with some actual content.
        Your content.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="https://media.istockphoto.com/photos/stability-and-cushion-running-shoes-new-unbranded-running-sneaker-or-picture-id1320786676?b=1&k=20&m=1320786676&s=612x612&w=0&h=bUBeUwBk_9f9_yjOu6Uju5VYGJKpmRb8BxVRywzslGQ="
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        width="500"
        height="500"
        alt=""
      />
    </div>
  </div>
  <hr class="featurette-divider" />
</div>

{% endblock %}
