{% extends "base.html" %} {% block content %}

<div class="container cart">
  <div class="row justify-content-center">
    <div class="col-8">
      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">
            Oh yeah, it's that good.
            <span class="text-muted">See for yourself.</span>
          </h2>
          <p class="lead">
            Another featurette? Of course. More placeholder content here to give
            you an idea of how this layout would work with some actual
            real-world content in place.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
            src="https://femina.wwmindia.com/thumb/content/2021/jun/fashion-thumb1622537199.jpg?width=1200&height=900"
            alt=""
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
          />
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>
<br/>

{% endblock %}
